# STATISTIKA
### Import Library

In [148]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np

In [149]:
%matplotlib inline

### Membuat Angka Acak Dari 1 Sampai 10

In [150]:
data = np.random.randint(0,100,size=10)
data

array([45, 30, 69, 30,  8, 76, 98, 79, 47, 11])

# Membuat Dataframe Menggunakan pandas

In [151]:
df = pd.DataFrame({'A': data},index=np.arange(1,11))
df

     A
1   45
2   30
3   69
4   30
5    8
6   76
7   98
8   79
9   47
10  11

### Mencari Nilai Terendah

In [152]:
df_min=df["A"].min()
df_min

8

### Mencari Nilai Tertinggi

In [153]:
df_max=df["A"].max()
df_max

98

### Mencari Nilai Rata-Rata
*

In [154]:
df_mean=df["A"].mean()
df_mean

49.3

### Mencari Nilai Yang Sering Muncul

In [155]:
df_modus=df["A"].mode()
df_modus

0    30
Name: A, dtype: int32

### Mencari Nilai Tengah

In [156]:
df_median = df["A"].median()
df_median

46.0

### Mencari Jangkauan (Range)

In [157]:
jangkauan = df["A"].max()-df["A"].min()
jangkauan

90

### Mencari Quartil 1

In [158]:
q1=df["A"].quantile(0.25)
q1

30.0

### Mencari Quartil 2

In [164]:
q2=df["A"].quantile(0.50)
q2

46.0

### Mencari Quartil 3

In [165]:
q3=df["A"].quantile(0.75)
q3

74.25

:

### Mencari Simpangan Quartil

In [159]:
simpangan_kuartil = df["A"].quantile(0.75)-df["A"].quantile(0.25)
simpangan_kuartil

44.25

### Mencari Simpangan Rata-Rata

In [160]:
diff_abs = abs(df['A'] - df["A"].mean())
mean_deviation = diff_abs.mean()
mean_deviation

24.96

### Mencari Ragam (Variance)

In [161]:
variance = df["A"].var()
variance

921.7888888888889

### Mencari Simpangan Baku

In [162]:
std_dev = df["A"].std()
std_dev

30.36097641527507

### Mencari :
* count = jumlah data
* mean = nilai rata rata
* std = simpangan baku
* min = nilai terendah
* 25% = kuartil 1
* 50% = kuartil 2
* 75% = kuartil 3
* max = nilai tertinggi

In [163]:
df['A'].describe().transpose()

count    10.000000
mean     49.300000
std      30.360976
min       8.000000
25%      30.000000
50%      46.000000
75%      74.250000
max      98.000000
Name: A, dtype: float64